body{
    background-color: #fff0f2;
}

header{
    margin-bottom: 20px;
}

#add-recipe-form {
    max-width:min-content;
    max-height:min-content;
    margin: 0 auto 70px auto; 
    padding: 10px;
    background-color: #fde2e2; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

nav {
    margin-bottom: 30px;
}

#add-recipe-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

#add-recipe {
    display: grid;
    grid-gap: 10px;
}

#add-recipe label {
    font-weight: bold;
}

#add-recipe input,
#add-recipe select,
#add-recipe textarea {
    width: 700px;
    padding: 8px;
    resize: none;
    border-radius: 5px;
    border: 2px solid #fda4af;
    box-sizing: border-box; 
}

#add-recipe button[type="submit"] {
    background-color: #fda4af;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;

}

#add-recipe button[type="submit"]:hover {
    background-color: #fda4af; 
}