/* Reset some default styles */
ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #fff1f2;
}

.container{
    text-align: center;
}

/* Style the navigation bar */
nav {
    background-color: #fed9de;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: -8px -8px -8px -8px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fda4af;
    font-size: large;
    font-family: Rubik,sans-serif;
}

/* Style the main content */
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #fda4af;

}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #fda4af;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    color: #fda4af;
}

/* Style the footer */
footer {
    background-color: #fed9de;
    color: #fda4af;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    position: absolute; /* Position the footer at the bottom of the page */
    bottom: 0;
    width: 100%; /* Make the footer full width */
    font-family: Rubik,sans-serif;
    margin-left: -7px;
}

/* Style the dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown options on hover */
.dropdown-content a:hover {
    background-color: #ddd; 
}



* {
    box-sizing: border-box;
  }
  .container {
    width: 70%; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
/* Style the search field */
form.example input[type=text] {
    padding: 20px;
    margin-top: 40px;
    margin-left: 110px;
    font-size: 17px;
    border: 2px solid #fda4af;
    float: left;
    width: 50%;
    background: #fff1f2;
    color: #fda4af;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    margin-top: 40px;
    padding: 20px;
    background: #fda4af;
    color: #fff1f2;
    font-size: 17px;
    border: 2px solid #fda4af;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
