<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
    <link rel="stylesheet" href="../../static/css/admin_add_recipe.css">
   
</head>
<body>
    <header>
        <div class="logo">
            <!-- <h1>Add New Recipe</h1> -->
        </div>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar" class="navbar hidden">
        <ul>
            <li><a href="/templates/base.html">Home</a></li>
            <li class="dropdown">
              <a href="#" id="explore">Explore</a>
              <div class="dropdown-content">
                <a href="/templates/recipes/categories.html">Categories</a>
                <a href="/templates/recipes/recipes_list.html">Recipes</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" id="profile-link">Profile</a>
    
              <div class="dropdown-content">
                <a href="/templates/authenticate/login.html">Login</a>
                <a href="/templates/authenticate/signup.html">Sign-up</a>
            
              </div>
              </a>
            </li>
        </ul>
    </nav>
    </header>
    <div class="container">
        <!-- <h1>Admin Dashboard</h1> -->
       

        <!-- Add New Recipe Form -->
        <div id="add-recipe-form">
            <h2>Add Modification</h2>
            <form id="add-recipe">
                <label for="recipeName">Recipe Name:</label>
                <input type="text" id="recipeName" name="recipeName" required>
                <label for="courseName">Course Name:</label>
                <select id="courseName" name="courseName" required>
                    <option value="appetizers">Appetizers</option>
                    <option value="mainCourse">Main Course</option>
                    <option value="dessert">Dessert</option>
                </select>

                <label for="ingredients">Ingredients:</label>
                <textarea id="ingredients"  name="ingredients" rows="4" placeholder=
                "instructions : After each ingredient, write the letter “;” After the last ingredient, write “.”" required></textarea>

                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4"  placeholder=
                "instructions : After each direction, write the letter “;” After the last direction, write “.”" required></textarea>

        
                <button type="submit" id="ptn_add">Add Recipe</button> 
                <button type="submit">Edit Recipe</button>
                <button type="submit">Delete Recipe</button> 


            </form>
        </div>

        <div id="recipe-list">
            <!-- List of Available Recipes -->
            <!-- Display a table or list of recipes with options to edit and delete -->
        </div>

        <div id="edit-recipe-form">
            <!-- Edit Recipe Form -->
            <!-- Include fields to edit recipe details -->
        </div>
    </div>
    <script src="../../static/scripts/data.js"></script>
   
    <footer>Â© 2024 Recipe Finder. All rights reserved.</footer>
</body>
</html>