<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="../../static/css/admin_dashboard.css">
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
    <script src="../../static/scripts/uploaded_recipes.js"></script>
    <script src="/static/scripts/admin_dash.js"></script>
    <link rel="stylesheet" href="../../static/css/categories.css">
    <script src="/static/scripts/data.js"></script>

    <style>
      table {
    border-collapse: collapse;
    align-items: center;
       }

      table, th, td {
    border: 1px solid black;
       }

    </style>
</head>
<body>
    <header>
        <div class="logo">
            <!-- <h1>Admin Dashboard</h1> -->
        </div>
    <nav id="navbar" class="navbar" class="navbar hidden">
          <ul>
            <li><a href="/templates/base.html">Home</a></li>
            <li class="dropdown">
              <a href="#" id="explore">Explore</a>
              <div class="dropdown-content">
                <a href="/templates/recipes/categories.html">Categories</a>
                <a href="/templates/recipes/recipes_list.html">Recipes</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" id="profile-link">Profile</a>
    
              <div class="dropdown-content">
                <a href="/templates/authenticate/login.html">Login</a>
                <a href="/templates/authenticate/signup.html">Sign-up</a>
            
              </div>
              </a>
            </li>
            <li><a href="/templates/recipes/recipe_search.html">Search</a></li>
          </ul>
      </nav>
    </header>
    <div class="container">
        <h1>Admin Dashboard</h1> 
        <!-- Button to Add New Recipe -->
        <a href="admin_add_recipe.html" class="add-recipe"><button>Modify</button></a>
        <table id="recipes-table">
          <thead>
              <tr>
                <th rowspan="2">Recipe Name</th>
                <th colspan="2">Actions</th>
              </tr>
              <tr>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
          </thead>
          <tbody id="recipes-container">
              <!-- Recipes will be inserted here -->
          </tbody>
      </table>
        <!-- <div id="recipes-container"></div>
        <script>
         // const recipesContainer = document.getElementById("recipes-container");
         document.addEventListener('click', function(event) {
           const recipeDiv = event.target.closest('[id]');
           if (recipeDiv) {
             const recipeId = recipeDiv.id;
             handleRecipeClick(recipeId);
           } 
         });
       </script> -->

         
    </div>
    <footer>Â© 2024 Recipe Finder. All rights reserved.</footer>
    </body>
</html>