<body>
    <div class="container">
        <h1>Admin Dashboard</h1>

        <!-- Button to Add New Recipe -->
        <a href="admin_add_recipe.html"><button>Add New Recipe</button></a>

        <div id="recipe-list">
            <!-- List of Available Recipes -->
            <!-- Display a table or list of recipes with options to edit and delete -->
            <h2>Uploaded Recipes</h2>

               <ul>
                <div id="peanut_butter">
                  <li>No bake peanut butter treats - 
                     <a href="/templates/recipes/viewPB.html">View</a> | 
                     <a href="edit_recipe.html">Edit</a> | 
                     <a href="#" onclick="deleteRecipe(1)">Delete</a>
                  </li>
                </div>
                  
        <!-- Add more list items as needed -->
               </ul>
        </div>

        <div id="edit-recipe-form">
            <!-- Edit Recipe Form -->
            <!-- Include fields to edit recipe details -->
        </div>
    </div>
    </body>