<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../../static/css/admin_signup.css" />
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <ul>
        <li><a href="../base.html">Home</a></li>
        <li class="dropdown">
          <a href="#" id="explore">Explore</a>
          <div class="dropdown-content">
            <a href="../recipes/categories.html">Categories</a>
            <a href="../recipes/recipes_list.html">Recipes</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" id="profile-link">
            <span id="login-text">Profile</span>
            <div class="dropdown-content">
              <a href="../user/log_in_user.html">Login as user</a>
              <a href="../user/user_signup.html">Sign-up as user</a>
              <a href="/templates/admin/log_in_admin.html">Login as admin</a>
              <a href="/templates/admin/admin_signup.html">Sign-up as admin</a>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <h2>Sign Up</h2>
    <div class="form-frame">
      <form action="/templates/admin/admin_dashboard.html" method="POST">
        <label for="username">Username:</label><br />
        <input type="text" id="username" name="username" required /><br />

        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" required /><br />

        <label for="confirm_password">Confirm Password:</label><br />
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          required
        /><br />

        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required /><br />

        <br />
        <!-- <input type="submit" value="Sign Up" /> -->
        <input type="submit" value="Sign Up" />
      </form>
    </div>

    <footer>© 2024 Recipe Finder. All rights reserved.</footer>
  </body>
</html>
