<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login_admin</title>
    <link rel="stylesheet" href="/static/css/admin_login.css" />
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <ul>
        <li><a href="/templates/base.html">Home</a></li>
        <li class="dropdown">
          <a href="#" id="explore">Explore</a>
          <div class="dropdown-content">
            <a href="/templates/recipes/categories.html">Categories</a>
            <a href="/templates/recipes/recipes_list.html">Recipes</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" id="profile-link">
            <span id="login-text">Profile</span>
            <div class="dropdown-content">
              <a href="/templates/user/log_in_user.html">Login as user</a>
              <a href="/templates/user/user_signup.html">Sign-up as user</a>
              <a href="/templates/admin/log_in_admin.html">Login as admin</a>
              <a href="/templates/admin/admin_signup.html">Sign-up as admin</a>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <h2>Login</h2>
    <div class="form-frame">
      <form action="admin_dashboard.html" method="POST">
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <br />
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <br />
        <input type="submit" value="Login" />
      </form>
    </div>
    <footer>© 2024 Recipe Finder. All rights reserved.</footer>
  </body>
</html>
