{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}">
    <script src="{% static 'scripts/favorites.js' %}"></script>
</head>
<body>
    <header>
      <div class="logo">
        <!-- <h1 id="recipe-name"></h1> -->
      </div>
      <!-- Navigation Bar -->
      {% include 'nav_bar.html' %}
    </header>

    <h1 id="recipe-name" style="text-align: center;"></h1>
    <button id="favorite-button">Add to Favorites <i class="fa fa-heart-o" aria-hidden="true"></i></button>

    <h2>Ingredients</h2>
    <div class="ingredients-ul">
      <ul id="ingredients"></ul>
    </div>

    <h2>Directions</h2>
    <div class="ingredients-ol">
      <ol id="directions"></ol>
    </div>

    <footer>© 2024 Recipe Finder. All rights reserved.</footer>

    <script>
      const recipeData = JSON.parse(localStorage.getItem('current'));
      document.getElementById("recipe-name").textContent = recipeData.recipeName;

      const ingredientsList = document.getElementById("ingredients");      
      if (recipeData.ingredients) {
        recipeData.ingredients.forEach((ingredient) => {
          const li = document.createElement("li");
          li.textContent = ingredient;
          ingredientsList.appendChild(li);
        });

        const directionsList = document.getElementById("directions");
        recipeData.directions.forEach((direction) => {
          const li = document.createElement("li");
          li.textContent = direction;
          directionsList.appendChild(li);
        });
      }

      document.getElementById("favorite-button").addEventListener("click", function() {
        addtoFavorites(recipeData);
      });
    </script>
</body>
</html>
