<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="../static/css/base.css" />
  
    </style>
  </head>

  <body>
    
<nav>
      <ul>
        <li><a href="base.html">Home</a></li>
        <li class="dropdown">
          <a href="#" id="explore">Explore</a>
          <div class="dropdown-content">
            <a href="recipes/categories.html">Categories</a>
            <a href="recipes/recipes_list.html">Recipes</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" id="profile-link">
            <span id="login-text">Profile</span>
            <div class="dropdown-content">
              <a href="user/log_in_user.html">Login as user</a>
              <a href="user/user_signup.html">Sign-up as user</a>
              <a href="admin/log_in_admin.html">Login as admin</a>
              <a href="admin/admin_signup.html">Sign-up as admin</a>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <h1>Welcome to Recipe Finder</h1>
    <p>Connect with other food enthusiasts and explore delicious recipes!</p>
    
    <footer>© 2024 Recipe Finder. All rights reserved.</footer>
    
  </body>
</html>
