<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h2>Sign Up</h2>
    <form action="#" method="POST" onsubmit="return redirect()">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" required /><br />

      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" required /><br />

      <label for="confirm_password">Confirm Password:</label><br />
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        required
      /><br />

      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" required /><br />

      <label for="role">Choose Role:</label><br />
      <select id="role" name="role">
        <option value="user">User</option>
        <option value="admin">Admin</option></select
      ><br /><br />

      <input type="submit" value="Sign Up" />
    </form>

    <script>
      function redirect() {
        var role = document.getElementById("role").value;
        if (role === "admin") {
          window.location.href = "admin/admin_dashboard.html";
        } else {
          window.location.href = "user/user_dashboard.html";
        }
        return false;
      }
    </script>
  </body>
</html>
