<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="../../static/css/categories.css">
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>Categories</h1>
        </div>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar" class="navbar hidden">
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" id="profile-link">Profile</a>
                  
                  <div class="dropdown-content">
                    <a href="user/log_in_user.html">Login as user</a>
                    <a href="user/user_signup.html">Sign-up as user</a>
                    <a href="admin/log_in_admin.html">Login as admin</a>
                    <a href="admin/admin_signup.html">Sign-up as admin</a>
                  </div>
                </a>
            </li>
            <i class="fa fa-star-o"></i> </button> </li> <li> <a href="favorites.html">Favorites</a> </li> 
        </ul>
    </nav>
    </header>

    <div class="category">
        <a href="lunch.html">
            <img src="../../static/images/lunch.jpeg" alt="Lunch">
            <div class="caption">Lunch</div>
        </a>
    </div>

    <div class="category">
        <a href="dessert.html">
            <img src="../../static/images/dessert.jpeg" alt="Dessert">
            <div class="caption">Dessert</div>
        </a>
    </div>

    <div class="category">
        <a href="quick_easy.html">
            <img src="../../static/images/quick_easy.jpg" alt="Quick & Easy">
            <div class="caption">Quick & Easy</div>
        </a>
    </div>
    <footer>© 2024 Recipe Finder. All rights reserved.</footer>
</body>
</html>