<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/static/css/categories.css">
</head>

<body>
    <h1>Categories</h1>

    <div class="category">
        <a href="#">
            <img src="/static/images/lunch.jpeg" alt="Lunch">
            <div class="caption">Lunch</div>
        </a>
    </div>

    <div class="category">
        <a href="#">
            <img src="/static/images/dessert.jpeg" alt="Dessert">
            <div class="caption">Dessert</div>
        </a>
    </div>

    <div class="category">
        <a href="#">
            <img src="/static/images/quick_easy.jpg" alt="Quick & Easy">
            <div class="caption">Quick & Easy</div>
        </a>
    </div>

</body>

</html>
