<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Stir-Fry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
    <script src="../../static/scripts/favorites.js"></script>
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Chicken Stir-Fry</h1>
        </div>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar" class="navbar hidden">
        <ul>
            <li><a href="/templates/base.html">Home</a></li>
        <li class="dropdown">
          <a href="#" id="explore">Explore</a>
          <div class="dropdown-content">
            <a href="/templates/recipes/categories.html">Categories</a>
            <a href="/templates/recipes/recipes_list.html">Recipes</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" id="profile-link">Profile</a>

          <div class="dropdown-content">
            <a href="/templates/authenticate/login.html">Login</a>
            <a href="/templates/authenticate/signup.html">Sign-up</a>
        
          </div>
          </a>
        </li>
            <li> <a href="favorites.html">Favorites</a> </li>
        </ul>
    </nav>
    </header>

    <button id="favorite-button" >Add to Favorites <i class="fa fa-heart-o" aria-hidden="true"></i></button>
    <h2>Ingredients</h2>
    <div class="ingredients-ul">
        <ul>
            <li>Chicken breast</li>
            <li>assorted vegetables</li>
            <li>soy sauce</li>
            <li>garlic</li>
            <li>ginger</li>
            <li>sesame oil</li>
            <li>cornstarch</li>
            <li>salt</li>
            <li>pepper.</li>
            </ul>
    </div>

    <h2>Directions</h2>
    <div class="ingredients-ol">
        <ol>
            <li>Cut chicken into bite-sized pieces and season with salt, pepper, and cornstarch.</li>
            <li>In a hot pan or wok, add sesame oil and cook chicken until browned.</li>
            <li>Remove chicken from the pan.</li>
            <li>In the same pan, add more oil if needed and sauté minced garlic and ginger.</li>
            <li>Add vegetables and stir-fry until tender. </li>
            <li>Return chicken to the pan, add soy sauce, and cook until everything is heated through.</li>
            <li>Season with salt and pepper to taste. Serve hot over cooked rice.</li>
        </ol>
    </div>

<footer>© 2024 Recipe Finder. All rights reserved.</footer>
</body>
<script> 
    const recipeData = {
          href: "chickenSf.html",
          imagePath: "../../static/images/chicken.jpg",
          imageAlt: "chicken stir fry",
          recipeName: "Stir fry" // Set the recipeName property here
          };
  
      document.getElementById("favorite-button").addEventListener("click", function() {
      addToFavorites(recipeData);
      });
  </script>
</html>