<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crème Brûlée</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
    <script src="../../static/scripts/favorites.js"></script>
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>Crème Brûlée</h1>
        </div>
        <!-- Navigation Bar -->
        <nav id="navbar" class="navbar" class="navbar hidden">
            <ul>
                <li><a href="/templates/base.html">Home</a></li>
                <li class="dropdown">
                  <a href="#" id="explore">Explore</a>
                  <div class="dropdown-content">
                    <a href="/templates/recipes/categories.html">Categories</a>
                    <a href="/templates/recipes/recipes_list.html">Recipes</a>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="#" id="profile-link">Profile</a>
        
                  <div class="dropdown-content">
                    <a href="/templates/authenticate/login.html">Login</a>
                    <a href="/templates/authenticate/signup.html">Sign-up</a>
                
                  </div>
                  </a>
                </li>
                <li> <a href="favorites.html">Favorites</a> </li>
            </ul>
        </nav>
    </header>
    <button id="favorite-button" >Add to Favorites <i class="fa fa-heart-o" aria-hidden="true"></i></button>
    <h2>Ingredients</h2>
    <div class="ingredients-ul">
        <ul>
            <li>1 cup heavy cream</li>
            <li>3 tablespoons white sugar</li>
            <li>3 large egg yolks</li>
            <li>¼ teaspoon vanilla extract</li>
            <li>2 tablespoons white sugar, divided</li>
    
        </ul>
    </div>

    <h2>Directions</h2>
    
    <div class="ingredients-ol">
        <ol>
            <li>Gather all ingredients. Preheat the oven to 350 degrees F (175 degrees C).</li>
            <li>Whisk together cream and 3 tablespoons sugar in a microwave-safe bowl until combined. Cook in the microwave
                until warm, 1 to 2 minutes; whisk again to dissolve sugar. Whisk in egg yolks and vanilla until smooth.</li>
            <li>Pour cream mixture into 2 ramekins set in a roasting pan. Pour enough hot water into the pan to reach
                halfway up the sides of the ramekins.</li>
            <li>Bake in the preheated oven until custard is set but slightly jiggly in the center when shaken, about 50
                minutes. Remove ramekins from hot water and chill in the refrigerator until cold, at least 2 hours.</li>
            <li>Sprinkle 1 tablespoon sugar evenly over the top of each dessert. Use a kitchen torch to melt and lightly
                toast sugar topping until brown and bubbly, about 30 seconds. Let sugar topping cool to harden before
                serving.</li>
            <li>Enjoy!</li>
        </ol>
    </div>
    
    <footer>© 2024 Recipe Finder. All rights reserved.</footer>
</body>
<script>
   

    document.getElementById("favorite-button").addEventListener("click", function () {
        addToFavorites(recipeData);
    });
</script>
</html>