<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dessert</title>
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
    <link rel="stylesheet" href="../../static/css/categories.css">
    <script src="../../static/scripts/favorites.js"></script>
    <script src="/static/scripts/data.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Dessert</h1>       
         </div>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar" class="navbar hidden">
        <ul>
            <li><a href="/templates/base.html">Home</a></li>
        <li class="dropdown">
          <a href="#" id="explore">Explore</a>
          <div class="dropdown-content">
            <a href="/templates/recipes/categories.html">Categories</a>
            <a href="/templates/recipes/recipes_list.html">Recipes</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" id="profile-link">Profile</a>

          <div class="dropdown-content">
            <a href="/templates/authenticate/login.html">Login</a>
            <a href="/templates/authenticate/signup.html">Sign-up</a>
        
          </div>
          </a>
        </li>
            <i class="fa fa-star-o"></i> </button> </li> <li> <a href="favorites.html">Favorites</a> </li> 
        </ul>
    </nav>
    </header>
    <div class="category">
        <a href="viewPB.html">
            <img src="../../static/images/PB.jpg" alt="PB treats">
            <div class="caption">No bake peanut butter treats</div>
        </a>
    </div>



    <div class="category">
        <a href="Strawberry_cake.html">
            <img src="../../static/images/straubrry-cake.jpg" alt="veg rice">
            <div class="caption">Strawberry cake</div>
        </a>
    </div>

    <div class="category">
        <a href="Crème_Brûlée.html">
            <img src="../../static/images/Crème Brûlée.jpg" alt="Crème Brûlée">
            <div class="caption">Crème Brûlée</div>
        </a>
    </div>

    <div class="category">
        <a href="Pumpkin.html">
            <img src="../../static/images/Pumpkin.jpg" alt="Pumpkin ">
            <div class="caption">Pumpkin</div>
        </a>
    </div>
    <footer>© 2024 Recipe Finder. All rights reserved.</footer>
</body>
</html>