<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorites</title>
  <link rel="stylesheet" href="../../static/css/nav_bar.css">
  <!-- <link rel="stylesheet" href="../../static/css/recipe.css">\ -->
  <link rel="stylesheet" href="../../static/css/categories.css">
  <style>
    #favorites-container {
        list-style: none;
        padding: 0;
        margin: 0;
        }
    #favorites-container li {
        padding: 0.5rem;
        border-bottom: 1px solid #ccc;
        }
    #ffavorites-container li:last-child {
        border-bottom: none;
        }
  </style>
</head>
<body>
  <header>
    <div class="logo">
        <h1>My Favorites</h1>
    </div>
<!-- Navigation Bar -->
<nav id="navbar" class="navbar" class="navbar hidden">
    <ul>
        <li><a href="../base.html">Home</a></li>
        <li class="dropdown">
            <a href="#" id="explore">Explore</a>
            <div class="dropdown-content">
                <a href="categories.html">Categories</a>
                <a href="recipes_list.html">Recipes</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" id="profile-link">Profile</a>
              
              <div class="dropdown-content">
                <a href="user/log_in_user.html">Login as user</a>
                <a href="user/user_signup.html">Sign-up as user</a>
                <a href="admin/log_in_admin.html">Login as admin</a>
                <a href="admin/admin_signup.html">Sign-up as admin</a>
              </div>
            </a>
        </li>
    </ul>
</nav>
</header>

  <div id="favorites-container"></div>
  <script src="../../static/scripts/favorites.js"></script>
  <script>  
  window.onload = function() {
    // Get the favorites from local storage
    const favorites = JSON.parse(localStorage.getItem("favorites")) || [];

    // Create a list of favorites
    const favoritesList = document.getElementById("favorites-container");
    if (favoritesList && favorites) {
      favorites.forEach((recipeData) => {
        if(recipeData){
          if (recipeData.href && recipeData.href !== '') {
          const favoriteDiv = createFavoriteElement(recipeData);
          favoritesList.appendChild(favoriteDiv);
        }
        }
      });
    }
  }
  </script>
      <footer>Â© 2024 Recipe Finder. All rights reserved.</footer>
</body>
</html>