<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
        </ul>
    </nav>
<h1 id="garlic-bread">Cheesy Garlic Bread</h1>
<p><strong>Ingredients</strong></p>
<ul>
<li>French bread</li>
<li>Butter</li>
<li>Garlic powder</li>
<li>Garlic cloves</li>
<li>Italian seasoning</li>
<li>Mozzarella cheese</li>
<li>Parsley</li>
</ul>
<p><strong>Directions</strong><br>
<ol>
    <li>Preheat oven to 400 degrees. Cut your French bread loaf lengthwise and place on top of a baking sheet.</li>
    <li>In a small bowl combine softened butter, garlic powder, minced garlic, Italian seasoning and shredded cheese.</li>
    <li>Spread evenly on each side of the garlic bread.  Top with Colby and mozzarella cheese.</li>
    <li>Bake in the oven for 12-15 minutes until butter is melted and bubbly.</li>
</ol>
</body>
