<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemon Garlic Chicken</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
    <script src="../../static/scripts/favorites.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
            <i class="fa fa-star-o"></i> </button> </li> <li> <a href="favorites.html">Favorites</a> </li> 
        </ul>
    </nav>
    <h1>Lemon Garlic Chicken</h1>
    <button id="favorite-button">Add to Favorites</button>
    <h2>Ingredients</h2>
    <ul>
        <li>4 boneless, skinless chicken breasts</li>
        <li>4 cloves garlic, minced</li>
        <li>1 lemon, juiced and zested</li>
        <li>2 tablespoons olive oil</li>
        <li>1 teaspoon dried oregano</li>
        <li>Salt and pepper to taste</li>
        <li>Fresh parsley for garnish</li>
    </ul>

    <h2>Directions</h2>
    <p>
        <ol>
            <li>Season chicken breasts with salt, pepper, and dried oregano.</li>
            <li>In a skillet, heat olive oil over medium-high heat.</li>
            <li>Add minced garlic and cook until fragrant.</li>
            <li>Add chicken breasts and cook until golden brown on both sides and cooked through.</li>
            <li>Remove chicken from the pan and set aside.</li>
            <li>Deglaze the pan with lemon juice, scraping up any browned bits.</li>
            <li>Return chicken to the pan, add lemon zest, and simmer for a few minutes.</li>
            <li>Garnish with fresh parsley and serve hot.</li>
        </ol>
    </p>
</body>
<script> 
const recipeData = {
    href: "lgchicken.html",
    imagePath: "../../static/images/lgchicken.jpg",
    imageAlt: "lemon garlic chicken",
    recipeName: "Lemon Garlic Chicken" // Set the recipeName property here
    };

document.getElementById("favorite-button").addEventListener("click", function() {
addToFavorites(recipeData);
});
</script>
</html>