<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/categories.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/templates/base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="/templates/recipes/categories.html">Categories</a>
                    <a href="/templates/recipes/recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="/templates/user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <h1>Lunch</h1>
    <div class="category">
        <a href="/templates/recipes/viewVegRice.html">
            <img src="/static/images/veg_rice.jpg" alt="veg rice">
            <div class="caption">Vegetable fried rice</div>
        </a>
    </div>

    <div class="category">
        <a href="/templates/recipes/margherita.html">
            <img src="/static/images/pizza.jpg" alt="Quick & Easy">
            <div class="caption">Margherita pizza</div>
        </a>
    </div>

    <div class="category">
        <a href="/templates/recipes/chickenSF.html">
            <img src="/static/images/chicken.jpg" alt="chicken stir fry">
            <div class="caption">Chicken stir fry</div>
        </a>
    </div>

</body>
</html>