<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
    <script src="../../static/scripts/favorites.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
            <i class="fa fa-star-o"></i> </button> </li> <li> <a href="favorites.html">Favorites</a> </li> 
        </ul>
    </nav>
<h1 id="classic-margherita-pizza">Classic Margherita Pizza</h1>
<button id="favorite-button">Add to Favorites</button>
<p><strong>Ingredients</strong></p>
<ul>
<li>Pizza dough</li>
<li>tomato sauce</li>
<li>fresh mozzarella cheese</li>
<li>fresh basil leaves</li>
<li>olive oil</li>
<li>salt</li>
<li>pepper</li>
</ul>
<p><strong>Directions</strong><br>
Preheat oven to 475°F (245°C). Roll out pizza dough on a baking sheet. Spread tomato sauce over the dough. Tear fresh mozzarella into pieces and distribute evenly over the sauce. Tear fresh basil leaves and scatter them over the cheese. Drizzle olive oil over the pizza and sprinkle with salt and pepper. Bake for 10-12 minutes or until crust is golden brown and cheese is bubbly. Slice and serve.</p>
</body>
<script> 
const recipeData = {
    href: "margherita.html",
    imagePath: "../../static/images/margherita.jpg",
    imageAlt: "margherita",
    recipeName: "margherita pizza" // Set the recipeName property here
    };

document.getElementById("favorite-button").addEventListener("click", function() {
addToFavorites(recipeData);
});
</script>
</html>

