<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pumpkin </title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <h1>Pumpkin </h1>

    <h2>Ingredients</h2>
    <ul>
        <li>1 (15.25 ounce) package yellow cake mix, divided</li>
        <li>⅓ cup unsalted butter, melted</li>
        <li>1 large egg</li>
        <li>1 (29 ounce) can pumpkin puree</li>
        <li>3 large eggs</li>
        <li>⅔ cup milk</li>
        <li>½ cup brown sugar</li>
        <li>2 tablespoons pumpkin pie spice</li>
        <li>½ cup white sugar</li>
        <li>¼ cup cold unsalted butter, cubed</li>
        <li>¾ cup chopped walnuts</li>
    </ul>

    <h2>Directions</h2>
    <p>
    <ol>
        <li>Gather all ingredients.</li>
        <li>Preheat the oven to 350 degrees F (175 degrees C). Lightly grease a 9x13-inch baking dish.</li>
        <li>Make crust: Transfer 1 cup cake mix to a small bowl; set aside for topping. Place remaining cake mix in a
            medium bowl with melted butter and egg; mix until well blended.</li>
        <li>Spread mixture into the bottom of the prepared baking dish.</li>
        <li>Make filling: Combine pumpkin puree, eggs, milk, brown sugar, and pumpkin pie spice in a large bowl; mix
            well and pour over crust.</li>
        <li>Make topping: Add white sugar and cubed butter to reserved cake mix; use a pastry blender to mix until
            mixture resembles coarse crumbs.</li>
        <li>Sprinkle over pumpkin filling, then scatter chopped walnuts over the top.</li>
        <li>Bake in the preheated oven until the top is golden brown, 45 to 50 minutes.</li>
        <li>Enjoy</li>
    </ol>
    </p>
</body>

</html>