<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/categories.css">
    
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
            <i class="fa fa-star-o"></i> </button> </li> <li> <a href="favorites.html">Favorites</a> </li> 
        </ul>
    </nav>
    <h1>Quick & Easy</h1>
    <div class="category">
        <a href="garlic_bread.html">
            <img src="../../static/images/garlic_bread.jpg" alt="cheesy garlic bread">
            <div class="caption">Cheesy Garlic Bread</div>
        </a>
    </div>
    <div class="category">
        <a href="vegeterian_chilli.html">
            <img src="../../static/images/vgchilli.jpg" alt="veg chilli">
            <div class="caption">Vegetarian Chilli</div>
        </a>
    </div>
    <div class="category">
        <a href="tofust.html">
            <img src="../../static/images/TofuSt.jpg" alt="tofu stir fry">
            <div class="caption">Tofu Stir-Fry</div>
        </a>
    </div>
</body>
</html>