<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Uploaded Recipes</h2>
        <ul>
            <div id="peanut_butter">
                <li>No bake peanut butter treats - 
                    <a href="viewPB.html">View</a> 
                </li>
            </div>

            <div id="veg_rice">
                <li>Vegetable Fried Rice - 
                    <a href="viewVegRice.html">View</a> 
                </li>
            </div>

	    <div id="margherita">
                <li>Margherita Pizza - 
                    <a href="margherita.html">View</a> 
                </li>
            </div>

	    <div id="chicken_stir_fry">
                <li>Chicken Stir Fry - 
                    <a href="chickenSF.html">View</a> 
                </li>
            </div>
	
</body>
</html>