<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li><a href="../recipes/recipes_list.html">Recipes</a></li>
            <li><a href="../user/log_in_user.html">Login As User</a></li>
            <li><a href="../admin/log_in_admin.html">Login As Admin</a></li>
            <li><a href="../user/user_signup.html">Sign Up As User</a></li>
            <li><a href="../admin/admin_signup.html">Sign Up As Admin</a></li>
        </ul>
    </nav>


    <h2>Uploaded Recipes</h2>
    <!-- <ul>
        <div id="peanut_butter">
            <li>No bake peanut butter treats -
                <a href="viewPB.html">View</a>
            </li>
        </div>

        <div id="veg_rice">
            <li>Vegetable Fried Rice -
                <a href="viewVegRice.html">View</a>
            </li>
        </div>

        <div id="margherita">
            <li>Margherita Pizza -
                <a href="margherita.html">View</a>
            </li>
        </div>

        <div id="chicken_stir_fry">
            <li>Chicken Stir Fry -
                <a href="chickenSF.html">View</a>
            </li>
        </div>
    </ul>     -->

    <div class="img-container">
        <div>
            <figure>
                <a href="viewPB.html"><img src="/style/images/PB.jpg" style="height: 100px; width: 100px; border-radius: 50%;"></a>
                <figcaption>No bake peanut butter treats</figcaption>
            </figure>
        </div>

        <div>
            <figure>
                <a href="viewVegRice.html"><img src="/style/images/veg_rice.jpg" style="height: 100px; width: 100px; border-radius: 50%;"></a>
                <figcaption>Vegetable Fried Rice</figcaption>
            </figure>
        </div>

        <div>
            <figure>
                <a href="margherita.html"><img src="/style/images/veg_rice.jpg" style="height: 100px; width: 100px; border-radius: 50%;"></a>
                <figcaption>Margherita Pizza</figcaption>
            </figure>
        </div>

        <div>
            <figure>
                <a href="chickenSF.html"><img src="/style/images/chicken.jpg" style="height: 100px; width: 100px; border-radius: 50%;"></a>
                <figcaption>Chicken Stir Fry</figcaption>
            </figure>
        </div>



    </div>

</body>

</html>