<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Uploaded Recipes</h2>
        <ul>
            <div id="peanut_butter">
                <li>No bake peanut butter treats - 
                    <a href="/templates/recipes/viewPB.html">View</a> 
                </li>
            </div>

            <div id="veg_rice">
                <li>Vegetable Fried Rice - 
                    <a href="/templates/recipes/viewVegRice.html">View</a> 
                </li>
            </div>

</body>
</html>