<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrimp Scampi</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <h1>Shrimp Scampi</h1>

    <h2>Ingredients</h2>
    <ul>
        <li>1 pound shrimp, peeled and deveined</li>
        <li>4 cloves garlic, minced</li>
        <li>1/4 cup white wine</li>
        <li>2 tablespoons lemon juice</li>
        <li>1/4 cup butter</li>
        <li>2 tablespoons olive oil</li>
        <li>Salt and pepper to taste</li>
        <li>Chopped fresh parsley for garnish</li>
        <li>Cooked pasta for serving</li>
    </ul>

    <h2>Directions</h2>
    <p>
        <ol>
            <li>In a large skillet, heat olive oil and butter over medium heat.</li>
            <li>Add minced garlic and cook until fragrant.</li>
            <li>Add shrimp and cook until pink and opaque.</li>
            <li>Deglaze the pan with white wine and lemon juice.</li>
            <li>Season with salt and pepper to taste.</li>
            <li>Serve hot over cooked pasta, garnished with chopped parsley.</li>
        </ol>
    </p>
</body>
</html>