<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strawberry cake</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <h1>Strawberry cake</h1>

    <h2>Ingredients</h2>
    <ul>
        <li>2 cups white sugar</li>
        <li>1 cup butter, softened</li>
        <li> (3 ounce) package strawberry flavored Jell-O</li>
        <li>4 large eggs (room temperature)</li>
        <li>2 ¾ cups sifted cake flour</li>
        <li>2 ½ teaspoons baking powder</li>
        <li>1 cup whole milk, room temperature</li>
        <li>½ cup strawberry puree made from frozen sweetened strawberries </li>
        <li>1 tablespoon vanilla extract</li>
    </ul>

    <h2>Directions</h2>
    <p>
    <ol>
        <li>Preheat the oven to 350 degrees F (175 degrees C). Grease and flour two 9-inch round cake pans.</li>
        <li>Beat sugar, butter, and dry strawberry gelatin together in a large bowl with an electric mixer until light
            and fluffy. Add eggs one at a time, beating well after each addition.</li>
        <li>Combine flour and baking powder in a large bowl; stir into butter mixture alternately with milk. </li>
        <li>Blend in strawberry puree and vanilla.</li>
        <li>Divide batter evenly between the prepared pans.</li>
        <li>Bake in the preheated oven until a toothpick inserted into the center comes out clean, about 25 to 30
            minutes. Cool cakes on a wire rack for 10 minutes; run a table knife around the edges to loosen. Invert
            carefully onto a serving plate or cooling rack to cool completely.</li>
        <li>Enjoy!</li>
    </ol>
    </p>
</body>

</html>