<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strawberry cake</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
    <script src="../../static/scripts/favorites.js"></script>
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>Strawberry cake</h1>
        </div>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar" class="navbar hidden">
        <ul>
            <li><a href="/templates/base.html">Home</a></li>
            <li class="dropdown">
              <a href="#" id="explore">Explore</a>
              <div class="dropdown-content">
                <a href="/templates/recipes/categories.html">Categories</a>
                <a href="/templates/recipes/recipes_list.html">Recipes</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" id="profile-link">Profile</a>
    
              <div class="dropdown-content">
                <a href="/templates/authenticate/login.html">Login</a>
                <a href="/templates/authenticate/signup.html">Sign-up</a>
            
              </div>
              </a>
            </li>
            <li> <a href="favorites.html">Favorites</a> </li>
        </ul>
    </nav>
    </header>
    <button id="favorite-button" >Add to Favorites <i class="fa fa-heart-o" aria-hidden="true"></i></button>
    <h2>Ingredients</h2>
    
    <div class="ingredients-ul">
        <ul>
            <li>2 cups white sugar</li>
            <li>1 cup butter, softened</li>
            <li> (3 ounce) package strawberry flavored Jell-O</li>
            <li>4 large eggs (room temperature)</li>
            <li>2 ¾ cups sifted cake flour</li>
            <li>2 ½ teaspoons baking powder</li>
            <li>1 cup whole milk, room temperature</li>
            <li>½ cup strawberry puree made from frozen sweetened strawberries </li>
            <li>1 tablespoon vanilla extract</li>
        </ul>
    </div>

    <h2>Directions</h2>
    
    <div class="ingredients-ol">
        <ol>
            <li>Preheat the oven to 350 degrees F (175 degrees C). Grease and flour two 9-inch round cake pans.</li>
            <li>Beat sugar, butter, and dry strawberry gelatin together in a large bowl with an electric mixer until light
                and fluffy. Add eggs one at a time, beating well after each addition.</li>
            <li>Combine flour and baking powder in a large bowl; stir into butter mixture alternately with milk. </li>
            <li>Blend in strawberry puree and vanilla.</li>
            <li>Divide batter evenly between the prepared pans.</li>
            <li>Bake in the preheated oven until a toothpick inserted into the center comes out clean, about 25 to 30
                minutes. Cool cakes on a wire rack for 10 minutes; run a table knife around the edges to loosen. Invert
                carefully onto a serving plate or cooling rack to cool completely.</li>
            <li>Enjoy!</li>
        </ol>
    </div>

    <footer>© 2024 Recipe Finder. All rights reserved.</footer>
</body>
<script> 


document.getElementById("favorite-button").addEventListener("click", function() {
addToFavorites(recipeData);
});
</script>
</html>