<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tofu Stir-Fry</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
    <script src="../../static/scripts/favorites.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
            <i class="fa fa-star-o"></i> </button> </li> <li> <a href="favorites.html">Favorites</a> </li> 
        </ul>
    </nav>
    <h1>Tofu Stir-Fry</h1>
    <button id="favorite-button">Add to Favorites</button>
    <h2>Ingredients</h2>
    <ul>
        <li>1 block tofu, diced</li>
        <li>Assorted vegetables (bell peppers, broccoli, carrots, mushrooms)</li>
        <li>3 tablespoons soy sauce</li>
        <li>2 cloves garlic, minced</li>
        <li>1 tablespoon ginger, grated</li>
        <li>2 tablespoons vegetable oil, divided</li>
        <li>Salt and pepper to taste</li>
        <li>Cooked rice for serving</li>
    </ul>

    <h2>Directions</h2>
    <p>
        <ol>
            <li>Press tofu to remove excess water, then dice into cubes.</li>
            <li>In a wok or large skillet, heat 1 tablespoon of vegetable oil over medium-high heat.</li>
            <li>Add tofu cubes and cook until golden brown on all sides. Remove from pan and set aside.</li>
            <li>Add remaining oil to the pan and sauté garlic and ginger until fragrant.</li>
            <li>Add assorted vegetables and stir-fry until tender-crisp.</li>
            <li>Return tofu to the pan, add soy sauce, and stir-fry for another minute.</li>
            <li>Season with salt and pepper to taste. Serve hot over cooked rice.</li>
        </ol>
    </p>
</body>
<script>
     recipeData = {
    href: "tofust.html",
    imagePath: "../../static/images/TofuSt.jpg",
    imageAlt: "Tofu Stir Fry",
    recipeName: "Tofu Stir Fry" // Set the recipeName property here
    };

document.getElementById("favorite-button").addEventListener("click", function() {
addToFavorites(recipeData);
});
</script>
</html>