<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegetable Fried Rice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
    <script src="../../static/scripts/favorites.js"></script>
    <link rel="stylesheet" href="../../static/css/nav_bar.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>Vegetable Fried Rice</h1>
        </div>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar" class="navbar hidden">
        <ul>
            <li><a href="/templates/base.html">Home</a></li>
            <li class="dropdown">
              <a href="#" id="explore">Explore</a>
              <div class="dropdown-content">
                <a href="/templates/recipes/categories.html">Categories</a>
                <a href="/templates/recipes/recipes_list.html">Recipes</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" id="profile-link">Profile</a>
    
              <div class="dropdown-content">
                <a href="/templates/authenticate/login.html">Login</a>
                <a href="/templates/authenticate/signup.html">Sign-up</a>
            
              </div>
              </a>
            </li>
            <li> <a href="favorites.html">Favorites</a> </li>
        </ul>
    </nav>
    </header>
    <button id="favorite-button" >Add to Favorites <i class="fa fa-heart-o" aria-hidden="true"></i></button>
<h2>Ingredients</h2>

<div class="ingredients-ul">
    <ul>
        <li>3 tablespoons vegetable oil, divided</li>
        <li>6 cups of diced vegetables of choice</li>
        <li>3 large eggs, beaten</li>
        <li>Salt and freshly ground pepper</li>
        <li>3 cups of cooked and cooled rice</li>
        <li>1/2 cup thinly sliced scallions, white and light green parts</li>
    </ul>
</div>

<h2>Directions</h2>

    <div class="ingredients-ol">
        <ol>
            <li>cook the veggies</li>
            <li>scramble the eggs</li>
            <li>stir fry the rice</li>
            <li>put the vegetables and eggs to wok with the rice for about 3 minutes.</li>
            <li>sprinkle the scallions over the top and serve right away.</li>
        </ol>
    </div>

<footer>Â© 2024 Recipe Finder. All rights reserved.</footer>
</body>
<script> 


</script>
</html>