<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/recipe.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../base.html">Home</a></li>
            <li class="dropdown">
                <a href="#" id="explore">Explore</a>
                <div class="dropdown-content">
                    <a href="categories.html">Categories</a>
                    <a href="recipes_list.html">Recipes</a>
                </div>
            </li>
            <li>
                <a href="../user/log_in_user.html" id="profile-link">
                    <span id="login-text">Profile</span>
                </a>
            </li>
        </ul>
    </nav>

<h1>No-Bake Peanut Butter Treats</h1>

<h2>Ingredients</h2>
<ul>
    <li>1/3 cup chunky peanut butter</li>
    <li>1/4 cup honey</li>
    <li>1/2 teaspoon vanilla extract</li>
    <li>1/3 cup nonfat dry milk powder</li>
    <li>1/3 cup quick-cooking oats</li>
    <li>2 tablespoons graham cracker crumbs</li>
</ul>

<h2>Directions</h2>
<p>In a small bowl, combine the peanut butter, honey and vanilla.<br> Stir in the milk powder, oats and graham cracker crumbs.<br> Shape into 1-in. balls. Cover and refrigerate until serving.</p>
</html>

</body>
