{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipe Finder</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'scripts/data.js' %}"></script>
</head>
<body>
  {% include 'nav_bar.html' %}
  <div class="welcome">
    <h1>Welcome to Recipe Finder</h1>
    <p>Connect with other food enthusiasts and explore delicious recipes!</p>
  </div>
  <script src="{% static 'scripts/search.js' %}"></script>

</body>
</html>