{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation</title>
  <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}">
</head>
<body>
  <header>
    <div class="logo">
      <h1>Recipe Finder</h1>
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{% url 'base' %}">Home</a></li>
        <li class="dropdown">
          <a href="#" id="explore">Explore</a>
          <div class="dropdown-content">
            <a href="{% url 'categories' %}">Categories</a>
            <a href="{% url 'recipes_list' %}">Recipes</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" id="profile-link">Profile</a>
          <div class="dropdown-content">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign-up</a>
          </div>
        </li>
        <li><a href="{% url 'recipe_search' %}">Search</a></li>
      </ul>
    </nav>
  </header>
  <footer>© 2024 Recipe Finder. All rights reserved.</footer>
</body>
</html>
